<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.time_select :length %>
  </div>
  <div class="field">
    <%= f.label :release %><br>
    <%= f.number_field :release %>
  </div>
  <div class="field">
    <%= f.label :videoformat_id %><br>
    <%= f.collection_select :videoformat_id, Videoformat.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.collection_select :rating_id, Rating.all, :id, :rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
